.window{
    background: #161616;
    height: 500px;
    width: 600px;
    border-radius: 0.75rem;
    overflow: hidden;
    color: rgb(240, 214, 167);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
    .nav{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding-inline: .77rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.447);
        .dots{
            display: flex;
            gap: 0.25rem;

            .dot{
            height: 15px;
            width: 15px;
            background: white;
            border-radius: 50%;
        }

        .red{
            background: #eb3535;
        }
        .yellow{
            background: rgb(247,247,81);
        }
        .green{
            background: rgb(27,288 ,0 );
        }
        }
        
    }
}