// .dock{
//     display: flex;
//     align-items: center;
//     position: absolute;
//     bottom: 1rem;
//     left:50% ;
//     transform: translateX(-50%);
//       background: rgba(63, 62, 62, 0.381);
//      padding-inline: 1rem;
//         padding-block: 0.75rem;
//         border-radius: 0.5rem;
//         backdrop-filter: blur(5px);

//     .icon{
//         padding: 0.65rem;
//         border-radius: 0.25rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         aspect-ratio: 1/1;
      
       
//     }

//     .github, .cli{
//             background: #000;
            
//     }
//     .note{
//         background:linear-gradient(to bottom ,rgb(254, 180, 28),rgb(254, 153, 28));
//     }
//     .pdf{
//         background: linear-gradient(to bottom ,rgb(225,37,53),rgb(225,25,40) );
//     }
//     .calender, .mail{
       
//         background:linear-gradient(to bottom ,rgb(120, 62, 255), rgb(66, 62, 255)) ;
//     }
//     .spotify{
//             background: linear-gradient(to bottom , rgb(78,176,33),rgb(53,142,12));
//     }
//     .link{
//         background: linear-gradient(to bottom  , rgb(163,97,170),rgb(142,33,140));
//     }
// }

.dock {
    display: flex;
    gap: 0.75rem;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(63, 63, 63, 0.395);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;

    backdrop-filter: blur(5px);

    .icon {
        padding: 0.65rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1/1;
        width: 3.75rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .github,
    .cli {
        background-color: black;
    }

    .note {
        background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28))
    }

    .pdf {
        background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
    }

    .calender,
    .mail {
        background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
    }

    .spotify {
        background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
    }

    .link {
        background: linear-gradient(to bottom, rgb(163, 97, 170), rgb(142, 33, 154));
    }

    .icon:hover {
        transform: scale(1.25) translateY(-20%);
    }

    .icon:hover+.icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1.1) translateY(-10%);
    }

}